@import "./__card/result__card.css";

.result__list-cards {
  display: grid;
  justify-content: center;
  margin: 0 16px;
  grid-template-columns: auto;
  grid-column-gap: 10px;
  grid-row-gap: 7px;
}

@media screen and (min-width: 375px) {
  .result__list-cards {
    margin-left: 8vw;
    margin-right: 8vw;
  }
}

@media screen and (min-width: 475px) {
  .result__list-cards {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 768px) {
  .result__list-cards {
    grid-template-columns: auto auto auto;
    margin: 0 40px;
    grid-column-gap: 8px;
  }
}

@media screen and (min-width: 860px) {
  .result__list-cards {
    grid-column-gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .result__list-cards {
    margin: 0 104px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}