html {
  line-height: normal;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  font-family: roboto-slab, Tahoma;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input, button, a {
  font-family: roboto, Arial;
}

.body {
  min-width: 320px;
  width: 1440px;
  color: #1a1b22;
  font-family: roboto, Arial;
}

a {
  text-decoration: none;
  color: #1A1B22;
}
