.result__link_analytics {
  font-size: 18px;
  line-height: 24px;
  margin: 16px auto 36px 12px;
  color: #1a1b22;
}

.result__link_analytics:hover {
  background-color: #d9e4ee;
}

@media screen and (min-width: 768px) {
  .result-data__content-cards {
    grid-template-columns: auto auto auto;
    margin: 0 40px;
    grid-column-gap: 8px;
  }

  .result__link_analytics {
    margin: 48px 47px 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .result__link_analytics {
    margin: 94px 111px auto auto;
  }
}