@import "./__content/footer__content.css";
@import "./__copyright/footer__copyright.css";

@media screen and (min-width: 375px) {
  .footer {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 25px 0 20px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    margin: 30px 106px 25px 104px;
  }
}
