.footer__link-nav {
  font-family: sourcesanspro-regular;
}

.footer__item {
  font-size: 18px;
  line-height: 48px;
}

.footer__item:hover {
  background: #ebebeb;
}

@media screen and (min-width: 768px) {
  .footer__item {
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__link-nav_about-project {
    margin: auto 40px;
  }
}