.history-commit__link_github {
  font-family: roboto;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.history-commit__link_github:hover {
  background-color: #d4d5d6;
}

.history-commit__arrow-link {
  width: 8px;
  height: 13px;
}

@media screen and (min-width: 768px) {
  .history-commit__link_github {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .history-commit__link {
    margin-right: 8px;
    letter-spacing: 0.5px;
  }
}