.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 12px 18px 0 16px;
}

.footer__content-nav {
  display: flex;
  flex-direction: column;
  min-width: 184px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer__content_social-link {
  display: flex;
  padding: 0;
  margin-top: 12px;
}

.footer__content_link {
  font-family: sourcesanspro-regular;
  font-size: 18px;
  line-height: 48px;
  color: #1a1b22;
}

.icon-link:hover {
  background: #ebebeb;
}

.footer__content_link:hover {
  background: #ebebeb;
}

.footer__content-social-link_facebook {
  margin-left: 26px;
}

.footer__copyright {
  font-family: roboto, Tahoma;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin: 29px auto 22px 16px;
}

@media screen and (min-width: 375px) {
  .footer {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 25px 0 20px;
  }

  .footer__content {
    margin: 0;
    flex: 1;
  }

  .footer__content-nav {
    flex-direction: row;
    min-height: 10px;
    flex: 1;
    justify-content: space-evenly;
  }

  .footer__content_link {
    line-height: 24px;
  }

  .footer__copyright {
    margin: auto auto auto 40px;
  }

  .footer__content_social-link {
    margin: 0 40px auto auto;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    margin: 30px 106px 25px 104px;
  }

  .footer__copyright {
    margin-left: 0px;
  }

  .footer__content_social-link {
    margin: 0;
  }

  .footer__content-nav {
    justify-content: center;
  }

  .footer__nav_about-project {
    margin: auto 40px;
  }
}
