.request-info {
  padding: 16px 16px 24px;
}

.request-info__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  margin: 0;
}

.request-info__list {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.newsWeek {
  margin-top: 16px;
}

.repeat-req {
  margin-top: 4px;
}

.statistics {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .request-info {
    margin-top: 12px;
    padding-left: 40px;
    padding-bottom: 40px;
  }

  .request-info__title {
    font-size: 32px;
  }

  .newsWeek {
    margin-top: 23px;
  }
}

@media screen and (min-width: 1440px) {
  .request-info {
    padding: 33px 33px 80px 104px;
  }

  .request-info__title {
    font-size: 40px;
    line-height: 46px;
  }
}
