@keyframes result-wait__gif {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.result_popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  background: #f5f6f7;
}

.result-wait__content-comment,
.result-err__content-comment {
  font-family: roboto;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
  color: #b6bcbf;
  text-align: center;
}

.result-wait__pict_ellipse {
  transform: rotate(-15deg);
  animation: result-wait__gif 1s linear normal infinite;
}

.result-err__title_err {
  font-family: roboto-slab;
}

.result-err__title_err {
  font-family: roboto-slab;
  margin: 16px auto 0;
}

.result-wait {
  display: none;
}

.result-err {
  display: none;
}
