.search {
  color: #ffffff;
}

.search__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  margin: 30px 30px 0 19px;
}

.search__annotation {
  font-size: 20px;
  line-height: 26px;
  margin: 16px 16px 63px;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.search-form__input {
  font-size: 16px;
  line-height: 22px;
  padding: 0 16px;
  margin: 0 16px;
  width: auto;
  height: 54px;
  border: 1px solid #d1d2d6;
  border-radius: 100px;
  backdrop-filter: blur(100px);
}

.search-form__input::placeholder {
  font-family: roboto;
  font-size: 16px;
  line-height: 22px;
}

.search-form__input:hover {
  border: 1px solid rgb(145, 122, 20);
  background-color: rgb(236, 241, 255);
}

.button__search-form {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  margin: 18px 16px 32px;
  padding: 0;
  width: auto;
  height: 54px;
  border-radius: 100px;
  background-color: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border: 1px solid #2f71e5;
}

.button__search-form:hover {
  border: 2px outset #3f79db;
  background-color: #4b8af7;
  font-weight: bold;
}

.button__search-form:active {
  padding: calc(0.25em + 1px) 0.5em calc(0.25em - 1px);
  border: 2px inset #4786f3c2;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1),
    inset 0 1px 2px rgba(18, 25, 49, 0.7), inset 0 0 0 60px #407be0;
  font-weight: bold;
}

@media screen and (min-width: 440px) {
  .search__content-description {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .search-form {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

@media screen and (min-width: 768px) {
  .search {
    display: flex;
    flex-direction: column;
  }

  .search__title {
    width: 368px;
    font-size: 36px;
    margin: 0 auto 0 3px;
  }

  .search__annotation {
    max-width: 448px;
    margin: 16px auto 0 0;
    font-size: 18px;
    line-height: 24px;
  }

  .search__content-description {
    margin: 40px auto 0 160px;
  }

  .search-form {
    margin: 24px auto 48px;
    flex-direction: row;
    justify-content: center;
  }

  .search-form__input {
    margin: 0;
    min-width: 413px;
    position: absolute;
  }

  .button__search-form {
    height: 56px;
    min-width: 160px;
    margin: 0;
    position: relative;
    right: -147px;
  }
}

@media screen and (min-width: 769px) {
  .search__content-description {
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search__title {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -2.5px;
  }

  .search__annotation {
    margin: 32px auto 0 0;
    min-width: 545px;
  }

  .search__content-description {
    margin: 80px auto auto 416px;
  }

  .search-form {
    margin: 64px auto 80px;
  }

  .search-form__input {
    min-width: 573px;
    height: 64px;
  }

  .button__search-form {
    min-width: 168px;
    height: 66px;
    right: -220px;
  }
}
