.tabel {
  padding: 24px 16px 24px;
  background: #f5f6f7;
}

.tabel__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
}

.chart-header {
  border-bottom: 1px solid #1a1b22;
  padding-bottom: 8px;
  margin-top: 16px;
}

.chart-header__content_list {
  display: flex;
}

.chart__name_style {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #b6bcbf;
  margin: 0;
}

.chart-header__name-horizontally {
  margin-left: 48px;
}

.chart-header__date {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #b6bcbf;
  margin: 0;
}

.chart-scale {
  display: flex;
  display: none;
  font-size: 12px;
  line-height: 16px;
  color: #b6bcbf;
  justify-content: space-between;
}

.chart-scale__percent {
  margin: 0;
}

.chart-content {
  display: flex;
}

.chart-content__weekdays {
  flex-direction: column;
  margin: 6px auto auto;
  padding: 0;
}

.chart-content__day {
  font-size: 18px;
  line-height: 48px;
  margin: 0;
}

.chart-content__result {
  margin: 17px auto 13px 31px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.chart-content__result_percent {
  display: none;
}

.chart_content__result_item {
  width: 30%;
  height: 24px;
  background-color: #2f71e5;
}

@media screen and (min-width: 768px) {
  .tabel {
    padding: 40px;
  }

  .tabel__title {
    font-size: 26px;
  }

  .chart-header {
    margin-top: 52px;
  }

  .chart-scale {
    display: flex;
    margin: 16px auto 0 117px;
  }

  .scale_battom {
    margin-top: -12px;
  }

  .chart-header__name-horizontally {
    margin-left: 84px;
  }

  .chart-content__result {
    margin: 12px auto 28px 67px;
    color: #ffffff;
  }

  .chart-content__day {
    line-height: 80px;
  }

  .chart-content__weekdays {
    margin-top: -16px;
  }

  .chart_content__result_item {
    display: flex;
    align-items: center;
  }

  .chart-content__result_percent {
    display: flex;
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin: 0 auto 0 6px;
  }
}

@media screen and (min-width: 1440px) {
  .tabel {
    padding: 80px 104px;
  }

  .chart-content__result {
    margin-left: 56px;
  }

  .chart-scale {
    margin-left: 105px;
  }

  .chart-header__name-horizontally {
    margin-left: 72px;
  }
}
